<!DOCTYPE html>
<html>
<head>
	<!-- Changed the order on the calculator and the list, looked better this way.  
		Also, I used both a CSS-file and some style here in HTML. I didn't  get it to work otherwise
		It is know a very minimalistic design, but not just the default. -->
	<meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
	<title>Exchange Tool</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<div id="exchange">
		<!-- CONTAINER -->
		<div id="container">
			<!-- HEADER -->
			<div id="header">
				<h2>Vue Task</h2>
			</div>
			<!-- CONTENT AREA -->
			<div id="contentArea">
				<div id="leftCol">
					<h3> Currency: {{ exg }}</h3>
					<div>
					<ul>
						<li style="margin: 5px" v-for="(value,key) in ExchangeData"><a href="#" v-on:click="changeCurrency(key)">{{ key }}</a>: {{ value }}</li>
					</ul>
					</div>
				</div>

				<div id="rightCol">
					<h3 class="text-center">Exchange calculator:</h3>
					<div id="calculator">
						<input type="text" id="inputValue" v-model="inputAmount" v-on:input="calcValue"/>
						<label style="margin: 10px">FROM</label>
				        <select class="select" id="fromCurrencyChoice" v-model="selectedFromCurrency" v-on:change="calcValue">
				          <option v-for="(value,key) in ExchangeData":value="key">{{ key }}</option>
				        </select>
				        <label style="margin: 10px">TO</label>
			       		<select class="select" id="toCurrencyChoice" v-model="selectedToCurrency" v-on:change="calcValue">
				       		<option v-for="(value,key) in ExchangeData":value="key">{{ key }}</option>
		       			</select>
		       			<textarea style="margin: 10px" id="outputValue" v-model="outputAmount"></textarea>
					</div>
				</div>
			</div>
		</div> <!-- END CONTAINER -->
	</div>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
</body>
</html>