body {
  margin: 0px;
}

#container {
  width: auto;
  margin: 0 auto;
  padding: 10px;
}

#header {
  width: 100%;
  height: 60px;
  text-align: center;
  border-bottom: 1px solid #c7c7c7;
  text-align: center;
  font-size: 16px;
}

#leftCol {
  float: left;
  width: 530px;
  padding: 20px;
}

#rightCol {
  float: right;
  width: 630px;
  padding: 20px;
}

#calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 10px;
}

#inputValue {
  size: 10;
  height: 35px;
  padding:  5px;
}

#outputValue {
  width: 180px;
  max-height: 50px;
  padding:  10px;
}

.select {
  position: relative;
  font-family: Arial;
  border-radius: 4px;
  border-color: gray;
}

